In [1]:
# Ddd dependencies
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float, Date

In [2]:
# Load csv files
rm_data = 'raw_data/raw_material.csv'
fp_data = 'raw_data/finished_product.csv'

In [3]:
# Read Raw Data File and store into Pandas Data Frames
rm_df = pd.read_csv(rm_data)
fp_df = pd.read_csv(fp_data)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
rm_df.head()

,dataset,category,vendor,article_no,article_description_en,article_description_ch,pack_size,source,serving_size,total_calories_cal,calories_from_fat_fat_cal,total_fat_g,saturated_fat_g,trans_fat_g,cholesterol_mg,sodium_mg,total_carbohydrate_g,dietary_fiber_g,sugars_g,protein_g
0,Master List SRS Transfer,Material,Grocery,1118633,TABASCO HOT SAUCE,NaN,24/2OZ,1231 Sushi,1,0,0.00,0.00,0.00,0.0,0.0,402.43,0.00,0.00,0.00,0
1,Master List SRS Transfer,Material,Grocery,1131522,SPAM LUNCHEON MEAT,世棒午餐肉-原味,24/12OZ,https://ndb.nal.usda.gov/ndb/foods/show/300771...,1,1429,1085.94,120.66,45.30,0.0,0.0,6400.00,20.87,0.00,0.00,60.78
2,Master List SRS Transfer,Material,Grocery,1154001,TROPICAL PANCAKE SYRUP,（胡桃）糖漿,NaN,60 mL x 1.39 g/mL,NaN,1103.65,0.00,0.00,0.00,0.0,0.0,689.78,281.43,0.00,231.77,0
3,Master List SRS Transfer,Material,Grocery,1159835,DOLE SEEDLESS RAISIN C,NaN,NaN,https://ndb.nal.usda.gov/ndb/foods/show/09299?...,1,1343,22.05,2.45,0.81,0.0,0.0,127.00,355.94,30.80,0.00,11.43
4,Master List SRS Transfer,Material,Grocery,1299105,PECAN,胡桃（半颗）,NaN,NaN,NaN,3134.38,2938.10,326.46,28.03,0.0,0.0,0.00,62.87,43.55,18.01,41.6

In [5]:
fp_df.head()

,section,vendor,toledo_number,type,english_description,chinese_description,serving_size,unit,total_calories_cal,percent_total,...,percent_chol,sodium_mg,percent_sodi,total_carbohydrate_g,percent_carb,dietary_fiber_g,percent_diet,sugars_g,protein_g,percent_prot
0,grocery,coca_cola,28267600000,drink,FOUNTAIN DRINK S SPRITE 5,NaN,12.00,oz,140.0,0.07,...,0.0,65.0,0.03,38.0,0.13,0.0,0.0,38.0,0.0,0.0
1,grocery,coca_cola,28267600000,drink,FOUNTAIN DRINK S PIBB,NaN,12.00,oz,140.0,0.07,...,0.0,40.0,0.02,39.0,0.13,0.0,0.0,39.0,0.0,0.0
2,grocery,coca_cola,28267600000,drink,FOUNTAIN DRINK S FANTA STRAWBERRY,NaN,12.00,oz,160.0,0.08,...,0.0,45.0,0.02,45.0,0.15,0.0,0.0,44.0,0.0,0.0
3,grocery,coca_cola,28267600000,drink,FOUNTAIN DRINK S DIET COKE,NaN,12.00,oz,0.0,0.00,...,0.0,40.0,0.02,0.0,0.00,0.0,0.0,0.0,0.0,0.0
4,grocery,coca_cola,28267600000,drink,FOUNTAIN DRINK S FANTA ORANGE,NaN,12.00,oz,160.0,0.08,...,0.0,55.0,0.02,44.0,0.15,0.0,0.0,44.0,0.0,0.0

In [6]:
# Create the Schools_data class
class Raw_material_table(Base):
    __tablename__ = 'raw_material_table'
    article_no = Column(Integer, primary_key = True)
    dataset = Column(String(255))
    category = Column(String(255))
    vendor = Column(String(255))
    article_description_en = Column(String(255))
    article_description_ch = Column(String(255))
    pack_size = Column(String(255))
    source = Column(String(255))
    serving_size = Column(Float)
    total_calories_cal = Column(Float)
    calories_from_fat_fat_cal = Column(Float)
    total_fat_g = Column(Float)
    saturated_fat_g = Column(Float)
    trans_fat_g = Column(Float)
    cholesterol_mg = Column(Float)
    sodium_mg = Column(Float)
    total_carbohydrate_g = Column(Float)
    dietary_fiber_g = Column(Float)
    sugars_g = Column(Float)
    protein_g = Column(Float)

class Finished_product_table(Base):
    __tablename__ = 'finished_product_table'
    index = Column(Integer, primary_key = True)
    section = Column(String(255))
    toledo_number = Column(Float)
    type = Column(String(255))
    english_description = Column(String(255))
    chinese_description = Column(String(255))
    serving_size = Column(String(255))
    unit = Column(String(255))
    total_calories_cal = Column(Float)
    percent_total = Column(Float)
    calories_from_fat_fat_cal = Column(Float)
    total_fat_g = Column(Float)
    percent_fat = Column(Float)
    saturated_fat_g = Column(Float)
    percent_satfat = Column(Float)
    trans_fat_g = Column(Float)
    cholesterol_mg = Column(Float)
    percent_chol = Column(Float)
    sodium_mg = Column(Float)
    percent_sodi = Column(Float)
    total_carbohydrate_g = Column(Float)
    percent_carb = Column(Float)
    dietary_fiber_g = Column(Float)
    percent_diet = Column(Float)
    sugars_g = Column(Float)
    protein_g = Column(Float)
    percent_prot = Column(Float)

In [7]:
# Create the datbase and add the classes
engine = create_engine("sqlite:///nutrition_database.sqlite", echo = False)
conn = engine.connect()
session = Session(engine)

Base.metadata.create_all(conn)

In [8]:
# Send the station dataframe to the sqlite database
rm_df.to_sql('raw_material_table', engine, if_exists='replace')
fp_df.to_sql('finished_product_table', engine, if_exists='replace')